@{
    Layout = "";
}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login Form Design | CodeLab</title>
    <link rel="stylesheet" href="~/assets/css/login.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Login Form
        </div>
        <form asp-action="Index" asp-controller="login" method="post">
            <div class="field">
                <p>@ViewBag.error</p>
                <input type="text" name="userOrEmail" required>
                <label>Email Address</label>
            </div>
            <div class="field">
                <input type="password" name="pass" required>
                <label>Password</label>
            </div>

            <div class="field">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">
                Not a member? <a asp-area="" asp-controller="signUp" asp-action="Index">Signup now</a>
            </div>
        </form>
    </div>
</body>
</html>

