@model List<CreateJob>
@{
    Layout = "_Layout";
}
<hr />
<form>
    <a class="nav-link text-dark" asp-area="" asp-controller="Ad" asp-action="Create">Add Ad</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr class=table-active>
                <th>Job Name</th>
                <th>Job Description</th>
                <th>Address</th>
                <th>Requirements</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                  <td>@item.JobName</td>
                  <td>@item.JobDescription</td>
                  <td>@item.Address</td>
                  <td>@item.Requirements</td>
                }
            }
        </tbody>
    </table>
</form>

 
